ion-content{
    --background: url('../../assets/imagenNUBE.png') repeat center center;
  }
#header{
    color: #fcfcfc;
    font-size: 10;
}
#pag{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#tam {
    font-size: 89%;
}
#pos{
    display: flex;
    justify-content: flex-end;
}

#mapa {
    width: 100%;
    height: 90%;
}
#cardMapa {
    width: 95%;
    height: 70%;
}
#map {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
