<ion-content no-scroll padding>
  
  <div id="pagina">
    <ion-label id="titulo">Sistema de gestión de oxímetros </ion-label>
  
    <ion-card id="log">
      <ion-item id="center">
        <ion-label position="floating">Correo<ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)]="usuario"></ion-input>
      </ion-item>
      <ion-item id="center">
        <ion-label position="floating">Contraseña<ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)]="contrasena" type="password"></ion-input>
      </ion-item>
      <ion-button (click)="button_click()">Ingresar</ion-button>
      
    </ion-card>
  </div>


